.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: var(--ec-bg-elevated);
  border-bottom: 1px solid var(--ec-border-subtle);
}

/* Logo “Estudios Críticos” */
.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 32px;      /* ajusta al tamaño que te guste */
  width: auto;
}

/* Enlaces de navegación */
.navbar-links {
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.navbar-links a {
  text-decoration: none;
  color: var(--ec-text-muted);
}

.navbar-links a.active {
  color: var(--ec-text-main);
}

/* Botón Afíliate */
.btn-primary {
  background-color: var(--ec-red);
  color: var(--ec-text-main);
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: 0.5s;

}

.btn-primary:hover {
  background-color: var(--ec-red-dark);
  transition: 0.5s;
}

/* Versión responsive básica */
@media (max-width: 768px) {
  .navbar {
    padding: 0.75rem 1rem;
    gap: 0.75rem;
  }

  .navbar-links {
    display: none; /* de momento los ocultamos en móvil */
  }

  .navbar-logo {
    font-size: 0.85rem;
  }
}
